<!DOCTYPE html >
<html lang = "pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
    table {
        border-collapse: collapse; /* Para evitar bordas duplas */
    }
    th, td {
        padding: 10px; /* Define o espaçamento interno de 10px */
        text-align: left; /* Opcional: alinha o texto à esquerda */
    }
</style>
<body>

<form action="/salvarfiliais" method="post" th:object="${filialobj}">
        <label>CNPJ</label>
 		<input name="cnpj" th:field="*{cnpj}">
        <label>Nome</label>
        <input name="nome" th:field="*{nome}" required>
        <label>Grupo</label>
        <input type="text" name="grupo" th:field="*{grupo}" required>
		<label>Razão Social</label>
		<input name="razaosocial" th:field="*{razaosocial}" required>
         <input type="submit" value="Salvar">
      </form>  
		<a href="http://localhost:8081/listarfiliais">Listar Filiais</a>
		
	<table>
    <thead>
        <tr>
            <th>CNPJ</th>
            <th>Nome</th>
            <th>Grupo</th>
            <th>Razão Social</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="filial : ${filiais}">
            <td th:text="${filial.cnpj}"></td>
            <td th:text="${filial.nome}"></td>
            <td th:text="${filial.grupo}"></td>
            <td th:text="${filial.razaosocial}"></td>
            <td>
                <a th:href="@{/editarfilial/{cnpjfilial}(cnpjfilial=${filial.cnpj})}">Editar</a>
                <a th:href="@{/removerfilial/{cnpjfilial}(cnpjfilial=${filial.cnpj})}">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>
	
</body>
</html>